body{
	/*background-image: url('../images/namestamp.png');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

.wrapper{
	height: 100%;
	width: 100%;
	border: 10px solid;
}

